


      <mat-card class="card" [ngClass]="{'animate-pulse highlight': (selectedPokemon && data.name === selectedPokemon)}" (click)="goToDetailView()">
        <mat-card-content class="flex justify-center content">
          <img mat-card-image priority width="300" height="200" [ngSrc]="imageUrl"    />
        </mat-card-content>
        <mat-card-footer class="flex justify-center flex-column flex-end">
         <mat-card-title>{{data.name}}</mat-card-title>
        </mat-card-footer>
      </mat-card>

