<div class="container flex gap-8">
  <div class="left flex-1">
    <mat-card class="card">
      <mat-card-content class="flex justify-center content">
        <img mat-card-image width="300" height="200" priority [ngSrc]="data.sprites?.other?.dream_world?.front_default"    />
      </mat-card-content>
      </mat-card>
  </div>
  <div class="right flex-1 ">
    <div class="flex ">
      <div class="font-medium text-3xl  pt-12 pb-12 " >{{data.name}}</div>

    </div>
    <hr class="h-px my-8 bg-gray-200 border-0 dark bg-gray-700">
     <div class="flex bg-slate-100 px-4">
       <div class="flex-1 font-medium text-base">Height:</div>
        <div class="flex-1 font-medium">{{data.height}}</div>
     </div>
     <div class="flex px-4">
      <div class="flex-1 font-medium text-base">Weight:</div>
       <div class="flex-1">{{data.weight}}</div>
    </div>
    <div class="flex bg-slate-100 px-4">
      <div class="flex-1 font-medium text-base">Weight:</div>
       <div class="flex-1">{{data.weight}}</div>
    </div>
    <div class="flex  px-4">
      <div class="flex-1 font-medium text-base">Order:</div>
       <div class="flex-1">{{data.order}}</div>
    </div>
  </div>
</div>


